name: Run Flake8

on:
  push:
    branches:
      - main
      - dev
  pull_request:
  workflow_dispatch:

jobs:
  flake8:
    name: Flake8
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Run Flake8
        run: |
          pip install flake8
          python -m flake8 .
          echo 'Successfully finished Flake8 check'
